/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
*{
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(99, 99, 99);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }